<style> 
	img{
		width: 100%;
		padding-top: 25%;
	}
</style>

<div class="grid_12 alpha">
	<h2> Flixel Lights - Flying robotic graphical displays</h2>
	
	<div class="grid_4 alpha">
		<img src='/flixels.png'/>
	</div>
	<div class="grid_8 omega">

		<h3> Project Summary</h3>
		<p class='lead'> 
			Flixels are coordinated swarms of quadcopters with programmable lights. As flying pixels, they collectively form airborne, scalable, dynamic, interactive, deformable, sensing displays.  They can be programed to communicate messages, respond to sensed data (i.e. traffic, air quality, fault lines, underground subways, etc), redirect and shepherd crowds, form conceptualized physical building outlines within cities, participate in gameplay with people (i.e. keeping score, de-marking boundaries, and augmenting field and street games with lights and sounds), be a novel kinetic visual expressive medium, interact with people (i.e. react as waves or particles when people gesture against them), and empower activists to message and 'tag' public and private spaces in real-time. 
		</p>
		<p>
			<a class="btn btn-primary btn-lg dropdown-toggle" role="button" href='/light/synthesize' data-toggle="dropdown">
				<span class="glyphicon glyphicon-pencil"></span> Synthesize Lights
			</a>
		<a class="btn btn-default btn-lg" role="button" href='/light/library'>View Library »</a>
		</p>
	</div>
	<div class="grid_12">
		<p> 
			By empowering individuals to produce signage and messaging within the public sphere, Flixels engage with the concept of the Spectacle operating in the same phenomenological space as those situated with sensory-overloading visual displays (e.g., commercial, fireworks, airshows) and swarms (e.g., protests, riots). They also juxtapose the dark stories of drones as tools for government surveillance and warfare with new expressions of human life, our world, and data.  While celebratory of technology, Flixels question alternative uses of devices in society as well as exploit protocol by regaining visual airspace from commercial displays.
		</p>
		<p> 
			Screen as media is already being explored by stereoscopic '3D' displays. Flixels will have the ability to display messages from a variety of vantage points, in a variety of locations. How then might artists use Flixels to engage the discourse around the rectangular, uniform projected screen?
		</p>
		<p> 
			Our research is focused on realizing Flixels as a new medium, understanding: 1) interaction techniques for coordinating multiple-actor systems, 2) mechanical and control design of a Do-It-Yourself quadcopter, 3) the new media space these robotic displays instigate. 
		</p>

		</p>

	</div>



</div>

