<div class="grid_12 alpha">
	<!-- DESCRIPTION -->
	<div class="grid_12">
		<h2> MetaMorphe - Dynamic design for digital fabrication </h2>
		<p class='lead'> 
			An exciting and promising new economy and creative practice has begun to develop around digital fabrication (DF) technologies such as 3D printing. While no doubt a remarkable technology, the creative design tools for developing these digital models remain almost entirely static in nature.
			They, unfortunately, bias designs to favor replication and sameness.
		</p>
		<p class='lead'>
			<em> 
				How will we design and fabricate artifacts that are more dynamic, personal, reusable, adaptable and expressive? 
			</em> 
		</p>
		 <p><a class="btn btn-primary btn-lg" role="button" href='/morph/download'><span class="glyphicon glyphicon-download">
		</span> Download MetaMorphe.js</a>
		 <a class="btn btn-default btn-lg" role="button" href='/morph/library'>View Library »</a></p>
	</div>



</div>

