<script>
	var lib, api;

	$(function(){
		api = new API();
		lib = new Library();
	});

</script>

<div id="actuator-list" class="col-xs-4 column_list">
	<table class="table"></table>
</div>

<div id="flavor-list" class="col-xs-4 column_list">
	<table class="table"></table>
</div>

<div id="behavior-list" class="col-xs-4 column_list">
	<table class="table"></table>
</div>

