<script>

var api, wave_view;

$(function(){
	api = new API();
	waveView = new WaveView();
});

</script>
<div class="table col-xs-12 column_list">
	<table>
		<tr class="header"><th> Current Wave </th></tr>
		<tr>
			<td class="field"></td>
			<td class="preview led-box"></td>
		</tr>
	</table>
</div>

<style type="text/css">
	.template{
		display: none;
	}
</style>
<%= render 'partials/led' %>
<%= render 'partials/motor' %>
