<script>

var api, wave_view;

$(function(){
	api = new API();
	waveView = new WaveView();
});

</script>
<div class="table col-xs-12 column_list">
	<table>
		<tr class="header"><th> Current Wave </th></tr>
	</table>

	<div class="col-xs-6"> <div class="field"></div></div>
	<div class="col-xs-6"> <div class="preview led-box"></div></div>
	<div class="col-xs-12">
	<form method="post" action="demoform.asp">
		<label for="repeat">Repeat:</label>
		<input type="number" name="repeat" class="repeat" value="1" min="1" max="5">
		<label for="stretch">Stretch:</label>
		<input type="number" name="stretch" class="stretch" value="1" min="1" max="3">
		<div class="reset">Reset</div>
	</form>
		
	</div>
		
</div>

<style type="text/css">
	.template{
		display: none;
	}
</style>
<%= render 'partials/led' %>
<%= render 'partials/motor' %>
