<%= current_user.email %>
<p>The Design Tasks consist of the following: </p>

<ol>
	<li>Breadth: all possible emotions that you make; Write down several emotions, try to do as many as you can. Easy or hard? Justification.</li>

	<li>Narrative: actuators in concert with one another, sequencing with one another, conversation, animate a story - be more specific</li>

	<li>System state: convey temperature</li>

	<li>Interaction: Shorter showers</li>
</ol>

<%= link_to "Next", composer_path, class: "btn btn-primary" %>